<div class="service-form">
  <%= simple_form_for([@service, @booking], html: { class: '' }) do |f| %>
    <%= f.input :start_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <div class="d-flex justify-content-center">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
