<div class="mapboxgl-popup">

  <%= cl_image_tag(service.photo.key, class: "mapboxgl-popup-image") %>
 <div class="mapboxgl-popup-content col-5 p-2">
   <p><%= service.title %></p>
   <p><%= service.price %></p>
   <p><%= service.schedule %></p>
 </div>
</div>
