<div class="container">
  <div class="past-reviews-container">
    <h2>Past reviews</h2>
    <ul class="list-group">
      <% @service.reviews.each do |review| %>
        <li class="list-group-item">
          <div class="reviews"><%= "'#{review.comment}'- " %>
            <%= review.user.username %>
            <div class="star_rating">
              <p><%= render "shared/star_icon_rating", rating: review.rating,  name: "Service: " %></p>
              <p><%= render "shared/star_icon_rating", rating: review.eng_rating, name: "English: "%></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
