
 <div class ="container">
    <h2>Top Recommendation</h2>
    </div>
    <div class="top-cards" data-controller="top-card" data-top-card-target="container">
<% @top_services.each do |service| %>
    <div class="top-card" data-top-card-target="card" data-action="click->top-card#show">
      <div class="top-card-holder">
        <%= cl_image_tag(service.photo.key) %>
      </div>
      <div class="top-card-title">
        <a href="#" class="toggle-info top-card-button">
          <span class="left"></span>
          <span class="right"></span>
        </a>
        <h3>
          <%= service.title %>
          <small>¥<%= service.price %></small>
        </h3>
      </div>
      <div class="top-card-flap flap1">
        <div class="top-card-description">
        <%= service.description %>
        </div>
        <div class="top-card-flap flap2">
          <div class="top-card-actions">
            <a href="#" class="top-card-button">Read more</a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  </div>
