
</div>
<%= link_to "home", root_path, class: 'button-regular'  %>
<%= link_to "home large", root_path, class: 'button-large'  %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://gifdb.com/images/high/men-samurai-exercise-cj73symfg1rytiu4.gif);">
  <div class="container">
    <h1>Samurai Service</h1>
    <h3 style="color: #FFFFFF;">  Recruit your samurais here!</h3>
    <%= link_to "home large", root_path, class: 'button-large'  %>
  </div>
</div>
