</div>
<div id="carouselExampleSlidesOnly" class="carousel slide pb-5" data-bs-ride="carousel">
  <div class="carousel-inner carousel-width">
    <div class="position-absolute carousel-text-container">
      <div class="ps-3">
        <h1 style="color: #FFFFFF;">Profinder</h1>
        <h3 style="color: #FFFFFF;">  Your Gateway to English-Speaking Service Providers!</h3>
      </div>
      <div class="position-absolute home-button">
        <%= link_to "Get Started", services_path, class: 'button-large'  %>
      </div>
    </div>
    <div class="carousel-item active" data-bs-interval="3000">
      <img src="https://images.unsplash.com/photo-1613257125720-c2f8a783416a?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://images.unsplash.com/photo-1573240513057-86a945fa38dd?q=80&w=2953&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://images.unsplash.com/photo-1528360983277-13d401cdc186?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<div class='home-container'>
  <h2>What is Profinder?</h2>
  <p>Profinder is an innovative app designed to simplify the process of connecting foreigners with English-speaking professionals across various industries. By eliminating the need for exhaustive searches and generic results, Profinder ensures seamless and tailored matches based on specific language preferences and service requirements. </p>
</div>
<div class="container text-center">
  <h2>Features</h2>
  <div class="row">
    <div class="col feature-box">
      <i class="my-2 fa-regular fa-handshake fa-3x" style="color:#6659ff;"></i>
          <h3>Seamless Connection!</h3>
          <p>Profinder simplifies the search for English-speaking service providers. Whether you're in need of a doctor, lawyer, tutor, or any other service, our app helps you connect with the target service provider who speak your language.</p>
    </div>
    <div class="col feature-box">
      <i class="my-2 fa-solid fa-bookmark fa-3x" style="color:#6659ff;"></i>
      <h3>Bookmark! Request an appointment!</h3>
      <p>You can save your preferred services to bookmark for further considerations or for ease of contact on a later date. And whenever you are ready, feel free to book whenever you want! </p>
    </div>
    <div class="col feature-box">
      <i class="my-2 fa-solid fa-thumbs-up fa-3x" style="color:#6659ff;"></i>
      <h3>Add Reviews!</h3>
      <p>Profinder promises reviews made by real life users. The reviews include rating system that enhances the quality of each service.Both the service and their English are evaluated.</p>
    </div>
  </div>
  <%= render "pages/top_card" %>
</div>
