</div>
<%= link_to "Get Started", services_path, class: 'button-large'  %>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner carousel-width">
    <div class="position-absolute carousel-text-container">
      <div class="ps-3">
        <h1 style="color: #FFFFFF;">Profinder</h1>
        <h3 style="color: #FFFFFF;">  Find Your Service Provider</h3>
      </div>
    </div>
    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1613257125720-c2f8a783416a?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1573240513057-86a945fa38dd?q=80&w=2953&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1528360983277-13d401cdc186?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

