.card-container {
  width: 920px;
  margin-right: auto;
  margin-left: auto;
}
.card-product {
  padding: 5px;
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: $border-radius;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
.card-product-link{
  text-decoration: none;
  color: unset;
  &:hover{
    >.card-product{
      background-color: azure;
    }
    >.card-product >.vr-card{
    opacity: 1;
    background-color: aqua;
  }}
}

.vr-card {
  display: inline-block;
    align-self: stretch;
    width: 3px;
    min-height: 1em;
    background-color: currentcolor;
    opacity: 0;
}
