.past-reviews-container {
  background-color: #ffffff;
  //width: 600px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  text-align: center;
}
h2 {
  padding: 1rem;
  margin: 0;
}

.list-group-item {
  margin: 0.5rem 0.5rem;
  }

  .reviews {
    font-style: italic;
  }
