.service-index-info{
  display: grid;
  display: flex; /* This enables Flexbox layout */
  align-items: start; /* This aligns items at the start of the flex container */
  gap: 5px; /* Optional: adds some space between your flex items */
}

.service-list{
  flex:1;
}
