.d-flex {
  display: flex;
  align-items: center;
}
.booking-tag {
  padding: 10px;
  background-color: $light-gray;
  outline: 1px solid $purple;
  color: $purple;
  border-radius: 20px;
  font-weight: bold;
  font-size: 12px;
}
.booking-status {
  opacity: .6;
  padding: 10px;
}
