.d-flex {
  display: flex;
  align-items: center;
}
.booking-tag {
  margin: 1px 4px;
  padding: 2px 5px 0px 5px;
  background-color: #bfbfbf;
  color: black;
  border-radius: 8px;
  font-weight: lighter;
  font-size: 12px;
}
.booking-status {
  font-size: 20px;
}
